#what .items{
  display: block;
}

/* Align icons to left */
#what .items .item{
  display:flex;
  text-align: left;
}

/* Position Icon */
#what .items .item i{
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphone */
@media (max-width:500px){
  #navbar{
    flex-direction: column;
    align-items: center;
}
#navbar .logo{
  text-align: center;
  margin-bottom: 0.5rem;
}
#navbar ul{
  padding: 0.5rem;
}

#showcase .showcase-content{
  margin-top: -3rem;
} 

#who{
  display: block;
}
#who .who-img{
  display: none;
}

#clients .items img{
width: 80%
}

#clients .items div:last-child{
  display: none;
}

#contact{
  display: block;
}

#contact .map{
  height: 300px;
  border-top: 5px #333 solid;
}
}